// Colors

$color-primary: hsl(0, 100%, 74%);
$color-secondary: hsl(154, 59%, 51%);
$color-accent: hsl(248, 32%, 49%);

$color-neutral-dark: hsl(249, 10%, 26%);
$color-neutral-light: hsl(246, 25%, 77%);

// Font size: 16px (1.6rem)


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1 rem is
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
}